node_modules/
.pnpm-store/

# Astro build output
dist/
.astro/

test-results/
playwright-report/

.lighthouseci/

.DS_Store

# Env/config secrets
.env
.env.local
.env.*.local

coverage/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*