---
import "../styles/global.css";
import BaseLayout from '../layouts/BaseLayout.astro';
import Navigation from '../components/Navigation.astro';
import MonogramDisplay from '../components/MonogramDisplay.astro';
import SocialLinks from '../components/SocialLinks.astro';
---

<BaseLayout>
	<Navigation />

	<main class="flex flex-col lg:flex-row items-center lg:justify-start justify-center text-center lg:text-left max-w-md lg:max-w-6xl w-full mt-[10dvh]">
		<MonogramDisplay />
		<div id="about" class="flex flex-col items-center lg:items-start justify-center text-center lg:text-left max-w-md lg:max-w-none w-full">
			<h1 class="text-4xl font-bold mb-2 lg:text-6xl lg:-mt-12">Amet Alvirde</h1>
			<p id="bio" class=" md:mx-0 lg:max-w-2xl text-balance text-xl md:text-xl lg:text-2xl leading-relaxed mb-2">
				Experiencia humana polímata habitando el eterno presente del ininterrumpido, inevitable e irreversible viaje hacia mi destino.
			</p>
			<p class="text-balance text-xl lg:text-2xl leading-relaxed color-text-secondary mb-2">Explora el <a target="_blank" rel="noopener noreferrer" href="https://publish.obsidian.md/amet-alvirde/Mapa+público+de+mi+consciencia" class="text-accent">mapa público de mi consciencia</a>.</p>
			
			<SocialLinks />
		</div>
	</main>
</BaseLayout>


