---
import MonogramDark from '../assets/monogram-dark-mode.svg?raw';
import MonogramLight from '../assets/monogram-light-mode.svg?raw';
---

<div id="monogram" class="w-xs md:w-sm lg:w-lg h-auto mb-0 md:mb-0 md:flex-shrink-0">
	<div class="monogram-light">
		<Fragment set:html={MonogramLight} />
	</div>
	<div class="monogram-dark">
		<Fragment set:html={MonogramDark} />
	</div>
</div> 