---
import MonogramDark from '../assets/monogram-dark-mode.svg?raw';
import MonogramLight from '../assets/monogram-light-mode.svg?raw';
---

<div id="monogram" class="w-full max-w-[200px] md:max-w-[280px] h-auto">
	<div class="monogram-light">
		<Fragment set:html={MonogramLight} />
	</div>
	<div class="monogram-dark">
		<Fragment set:html={MonogramDark} />
	</div>
</div> 