---
import IconButton from "./icon-button.astro";
import { Monitor, Sun, Moon } from "@lucide/astro";
---

<div id="theme-controls" class="flex gap-2">
	<IconButton
		id="system-theme-button"
		ariaLabel="Tema del sistema"
		title="Tema del sistema"
		variant="borderless"
	>
		<Monitor size={16} class="shrink-0" />
	</IconButton>

	<IconButton
		id="light-theme-button"
		ariaLabel="Tema claro"
		title="Tema claro"
		variant="borderless"
	>
		<Sun size={16} class="shrink-0" />
	</IconButton>

	<IconButton
		id="dark-theme-button"
		ariaLabel="Tema oscuro"
		title="Tema oscuro"
		variant="borderless"
	>
		<Moon size={16} class="shrink-0" />
	</IconButton>
</div>

