---
import IconButton from "./icon-button.astro";
---

<div id="theme-controls" class="flex gap-2">
	<IconButton
		id="system-theme-button"
		ariaLabel="Tema del sistema"
		title="Tema del sistema"
		variant="borderless"
	>
		<i class="ph ph-monitor shrink-0 text-xl" aria-hidden="true"></i>
	</IconButton>

	<IconButton
		id="light-theme-button"
		ariaLabel="Tema claro"
		title="Tema claro"
		variant="borderless"
	>
		<i class="ph ph-sun shrink-0 text-xl" aria-hidden="true"></i>
	</IconButton>

	<IconButton
		id="dark-theme-button"
		ariaLabel="Tema oscuro"
		title="Tema oscuro"
		variant="borderless"
	>
		<i class="ph ph-moon shrink-0 text-xl" aria-hidden="true"></i>
	</IconButton>
</div>

